<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Air+Earth</key>
	<string>Dust</string>
	<key>Air+Fire</key>
	<string>Energy</string>
	<key>Air+Water</key>
	<string>Vapor</string>
	<key>Earth+Fire</key>
	<string>Lava</string>
	<key>Earth+Water</key>
	<string>Marsh</string>
	<key>Fire+Water</key>
	<string>Steam</string>
	<key>Water+Water</key>
	<string>Lake</string>
	<key>Air+Lava</key>
	<string>Stone</string>
	<key>Air+Energy</key>
	<string>Wind</string>
	<key>Energy+Wind</key>
	<string>Storm</string>
	<key>Earth+Steam</key>
	<string>Geyser</string>
	<key>Earth+Earth</key>
	<string>Pressure</string>
	<key>Dust+Water</key>
	<string>Mud</string>
	<key>Stone+Water</key>
	<string>Sand</string>
	<key>Storm+Water</key>
	<string>Typhoon</string>
	<key>Fire+Sand</key>
	<string>Glass</string>
	<key>Dust+Fire</key>
	<string>Gunpowder</string>
	<key>Fire+Glass</key>
	<string>Lamp</string>
	<key>Fire+Stone</key>
	<string>Metal</string>
	<key>Air+Steam</key>
	<string>Cloud</string>
	<key>Air+Cloud</key>
	<string>Sky</string>
	<key>Energy+Marsh</key>
	<string>Life</string>
	<key>Life+Metal</key>
	<string>MetalFairy</string>
	<key>Dust+Life</key>
	<string>Mite</string>
	<key>Life+Sand</key>
	<string>Seed</string>
	<key>Life+Water</key>
	<string>Algae</string>
	<key>Life+Marsh</key>
	<string>Bacteria</string>
	<key>Life+Stone</key>
	<string>Egg</string>
	<key>Egg+Life</key>
	<string>Chicken</string>
	<key>Fire+Life</key>
	<string>FireFairy</string>
	<key>Lava+Life</key>
	<string>LavaFairy</string>
	<key>Energy+Metal</key>
	<string>Electricity</string>
	<key>Lamp+Lava</key>
	<string>LavaLamp</string>
	<key>Lava+Pressure</key>
	<string>Volcano</string>
	<key>Algae+Marsh</key>
	<string>Moss</string>
	<key>Bacteria+Marsh</key>
	<string>Sulfur</string>
	<key>Marsh+Sand</key>
	<string>Clay</string>
	<key>Marsh+Moss</key>
	<string>Fern</string>
	<key>Metal+Steam</key>
	<string>Boiler</string>
	<key>Sand+Storm</key>
	<string>Sandstorm</string>
	<key>Electricity+Storm</key>
	<string>Lightening</string>
	<key>Lightening+Metal</key>
	<string>LighteningRod</string>
	<key>Pressure+Sand</key>
	<string>Silicon</string>
	<key>Egg+Sand</key>
	<string>Turtle</string>
	<key>Sand+Water</key>
	<string>Beach</string>
	<key>Sand+Sand</key>
	<string>Desert</string>
	<key>Glass+Sand</key>
	<string>Hourglass</string>
	<key>Hourglass+Life</key>
	<string>Time</string>
	<key>Metal+Water</key>
	<string>Rust</string>
	<key>Clay+Life</key>
	<string>Fairy</string>
	<key>Earth+Seed</key>
	<string>Tree</string>
	<key>Seed+Water</key>
	<string>Flower</string>
	<key>Algae+Fire</key>
	<string>Iodine</string>
	<key>Algae+Earth</key>
	<string>Mushroom</string>
	<key>Algae+Mushroom</key>
	<string>Lichen</string>
	<key>Life+Mushroom</key>
	<string>1UP</string>
	<key>Air+Bacteria</key>
	<string>Flu</string>
	<key>Bacteria+Glass</key>
	<string>PetriDish</string>
	<key>Bacteria+Water</key>
	<string>Plankton</string>
	<key>Bacteria+Plankton</key>
	<string>Fish</string>
	<key>1UP+Egg</key>
	<string>Yoshi</string>
	<key>Air+Egg</key>
	<string>Bird</string>
	<key>Earth+Egg</key>
	<string>Dinosaur</string>
	<key>Egg+Fire</key>
	<string>Omelette</string>
	<key>Bird+Flu</key>
	<string>AvianFlu</string>
	<key>Chicken+Flu</key>
	<string>AvianFlu</string>
	<key>Air+Electricity</key>
	<string>Hydrogen</string>
	<key>Electricity+Glass</key>
	<string>Lightbulb</string>
	<key>Electricity+LightBulb</key>
	<string>Light</string>
	<key>Electricity+Water</key>
	<string>Oxygen</string>
	<key>Electricity+Oxygen</key>
	<string>Ozone</string>
	<key>Electricity+Fish</key>
	<string>ElectricEel</string>
	<key>Earth+Moss</key>
	<string>Grass</string>
	<key>Clay+Fire</key>
	<string>Brick</string>
	<key>Desert+Tree</key>
	<string>Cactus</string>
	<key>Marsh+Tree</key>
	<string>Peat</string>
	<key>Life+Tree</key>
	<string>WalkingTree</string>
	<key>LightBulb+Tree</key>
	<string>ChristmasTree</string>
	<key>Fire+Tree</key>
	<string>Coal</string>
	<key>Tree+Tree</key>
	<string>Grove</string>
	<key>Mud+Mushrrom</key>
	<string>Mold</string>
	<key>Earth+Plankton</key>
	<string>Worm</string>
	<key>Plankton+Stone</key>
	<string>Shells</string>
	<key>Algae+Fish</key>
	<string>Sushi</string>
	<key>Fish+Fish</key>
	<string>Caviar</string>
	<key>Bird+Fire</key>
	<string>Phoenix</string>
	<key>Bird+Storm</key>
	<string>Thunderbird</string>
	<key>Air+Dinosuar</key>
	<string>FlyingDino</string>
	<key>Earth+Dinosaur</key>
	<string>Fossil</string>
	<key>Dinosuar+Water</key>
	<string>AquaDino</string>
	<key>Fire+FlyingDino</key>
	<string>Dragon</string>
	<key>Hydrogen+Oxygen</key>
	<string>Oxyhydrogen</string>
	<key>Grass+Marsh</key>
	<string>Reed</string>
	<key>Fire+Grass</key>
	<string>Tobacco</string>
	<key>Brick+Water</key>
	<string>Dam</string>
	<key>Boiler+Coal</key>
	<string>SteamEngine</string>
	<key>Coal+Pressure</key>
	<string>UncutDiamond</string>
	<key>Grove+Grove</key>
	<string>Forest</string>
	<key>Shells+Worm</key>
	<string>Snail</string>
	<key>Marsh+Worn</key>
	<string>Snake</string>
	<key>Earth+Worm</key>
	<string>Beetle</string>
	<key>Air+Worm</key>
	<string>Butterfly</string>
	<key>Snake+Worm</key>
	<string>Lizard</string>
	<key>Shells+Stone</key>
	<string>Limestone</string>
	<key>Sand+Shells</key>
	<string>Pearl</string>
	<key>Fossil+Pressure</key>
	<string>Kerogen</string>
	<key>Fire+Tobacco</key>
	<string>Smoke</string>
	<key>Fire+Snake</key>
	<string>Ash</string>
	<key>Beetle+Sand</key>
	<string>Scorpion</string>
	<key>Earth+Lizard</key>
	<string>Beast</string>
	<key>Lizard+Marsh</key>
	<string>Frog</string>
	<key>Fire+Lizard</key>
	<string>Salamander</string>
	<key>Clay+Limestone</key>
	<string>Cement</string>
	<key>Fire+Limestone</key>
	<string>Lime</string>
	<key>Kerogen+Pressure</key>
	<string>Bitumen</string>
	<key>Ash+Life</key>
	<string>Ghost</string>
	<key>Ash+Glass</key>
	<string>AshTray</string>
	<key>Beast+Water</key>
	<string>Whale</string>
	<key>Beast+Frog</key>
	<string>Kangaroo</string>
	<key>Beast+Forest</key>
	<string>Bear</string>
	<key>Beast+Dam</key>
	<string>Beaver</string>
	<key>Beast+Life</key>
	<string>Man</string>
	<key>Beast+Tree</key>
	<string>Panda</string>
	<key>Cement+Water</key>
	<string>Concrete</string>
	<key>Lime+Reed</key>
	<string>Sugar</string>
	<key>Bitumen+Pressure</key>
	<string>Petroleum</string>
	<key>Forest+Ghost</key>
	<string>Totora</string>
	<key>Energy+Ghost</key>
	<string>Ectoplasm</string>
	<key>Ghost+Lamp</key>
	<string>Genie</string>
	<key>Man+Man</key>
	<string>Sex</string>
	<key>Flu+Man</key>
	<string>Sickness</string>
	<key>Man+Metal</key>
	<string>Tool</string>
	<key>Man+Oxygen</key>
	<string>CO2</string>
	<key>Clay+Man</key>
	<string>Ceramics</string>
	<key>Fire+Man</key>
	<string>Corpse</string>
	<key>Man+Seed</key>
	<string>Farmer</string>
	<key>Man+Stone</key>
	<string>Hut</string>
	<key>Lightbulb+Man</key>
	<string>Idea</string>
	<key>Beast+Man</key>
	<string>Livestock</string>
	<key>Grass+Livestock</key>
	<string>Manure</string>
	<key>1UP+Man</key>
	<string>Mario</string>
	<key>Livestock+Man</key>
	<string>Milk</string>
	<key>Man+Time</key>
	<string>OldMan</string>
	<key>Limestone+Manure</key>
	<string>Saltpeter</string>
	<key>ChristmasTree+OldMan</key>
	<string>Santa</string>
	<key>Beetle+Manure</key>
	<string>Scarab</string>
	<key>Brick+Conrete</key>
	<string>BrickHouse</string>
	<key>Fire+Sugar</key>
	<string>Caramel</string>
	<key>Petroleum+Pressure</key>
	<string>Gasoline</string>
	<key>BrickHouse+Sickness</key>
	<string>Hospital</string>
	<key>Grass+Tool</key>
	<string>Lawnmower</string>
	<key>Reed+Tool</key>
	<string>Paper</string>
	<key>Mushroom+Tool</key>
	<string>Poison</string>
	<key>Tool+Tree</key>
	<string>Wood</string>
	<key>Tool+Wood</key>
	<string>Wheel</string>
	<key>Time+Tool</key>
	<string>Clock</string>
	<key>Earth+Tool</key>
	<string>Arable</string>
	<key>Metal+Tool</key>
	<string>Arms</string>
	<key>Tool+UncutDiamond</key>
	<string>Diamond</string>
	<key>CO2+Water</key>
	<string>SodaWater</string>
	<key>Corpse+Bird</key>
	<string>Vulture</string>
	<key>Corpse+Life</key>
	<string>Zombie</string>
	<key>Corpse+Wood</key>
	<string>Coffin</string>
	<key>Corpse+Electricity</key>
	<string>Frankenstein</string>
	<key>Corpse+Earth</key>
	<string>Grave</string>
	<key>Grave+Grave</key>
	<string>Cemetery</string>
	<key>Corpse+Paper</key>
	<string>Mummy</string>
	<key>Corpse+Zombie</key>
	<string>Undead</string>
	<key>Farmer+Tree</key>
	<string>Fruit</string>
	<key>Chicken+Hut</key>
	<string>HenCoop</string>
	<key>Hut+Steam</key>
	<string>Sauna</string>
	<key>Idea+Man</key>
	<string>Philosopher</string>
	<key>Livestock+Mud</key>
	<string>Pig</string>
	<key>Bacteria+Milk</key>
	<string>Yogurt</string>
	<key>Milk+Yogurt</key>
	<string>SouredMilk</string>
	<key>Fire+SouredMilk</key>
	<string>Cheese</string>
	<key>BrickHouse+Fossil</key>
	<string>Museum</string>
	<key>BrickHouse+Glass</key>
	<string>Skyscraper</string>
	<key>Gasoline+SteamEngine</key>
	<string>Combustion</string>
	<key>Fire+Gasoline</key>
	<string>Explosion</string>
	<key>Arable+Lawnmower</key>
	<string>Tractor</string>
	<key>Paper+Tobacco</key>
	<string>Cigarettes</string>
	<key>Fish+Poison</key>
	<string>Fugu</string>
	<key>Arms+Poison</key>
	<string>ToxicWeapons</string>
	<key>Man+ToxicWeapons</key>
	<string>Assassin</string>
	<key>Water+Wood</key>
	<string>Boat</string>
	<key>Wheel+Wood</key>
	<string>Cart</string>
	<key>Earth+Wood</key>
	<string>Grape</string>
	<key>Life+Wood</key>
	<string>Pinocchio</string>
	<key>Boat+Wood</key>
	<string>WoodenShip</string>
	<key>SteamEngine+WoodenShip</key>
	<string>Steamer</string>
	<key>Wheel+Wheel</key>
	<string>Bicycle</string>
	<key>Arable+Seed</key>
	<string>Wheat</string>
	<key>Arms+Gunpowder</key>
	<string>Firearms</string>
	<key>Arms+Man</key>
	<string>Hunter</string>
	<key>Arms+Light</key>
	<string>LightSaber</string>
	<key>Assassin+Firearms</key>
	<string>Sniper</string>
	<key>Firearms+Man</key>
	<string>Soldier</string>
	<key>Arms+Hunter</key>
	<string>Warrior</string>
	<key>Diamond+Egg</key>
	<string>FabergeEgg</string>
	<key>Fruit+Grass</key>
	<string>Berry</string>
	<key>Fruit+Pressure</key>
	<string>Juice</string>
	<key>Man+Pig</key>
	<string>Fat</string>
	<key>Fire+Pig</key>
	<string>Bacon</string>
	<key>Flu+Pig</key>
	<string>SwineFlu</string>
	<key>Cheese+Fire</key>
	<string>Fondue</string>
	<key>Cheese+Sky</key>
	<string>Moon</string>
	<key>Beast+Cheese</key>
	<string>Mouse</string>
	<key>Beast+Museum</key>
	<string>Zoo</string>
	<key>Skyscraper+Skyscraper</key>
	<string>City</string>
	<key>Light+Skyscraper</key>
	<string>Lighthouse</string>
	<key>Boat+Combustion</key>
	<string>Motorboat</string>
	<key>Bicycle+Combustion</key>
	<string>Motorcycle</string>
	<key>Cart+Combustion</key>
	<string>Car</string>
	<key>Cigarettes+Man</key>
	<string>Cancer</string>
	<key>Assassin+Time</key>
	<string>Prisoner</string>
	<key>Boat+Man</key>
	<string>Sailor</string>
	<key>Beast+Cart</key>
	<string>Team</string>
	<key>Cart+Warrior</key>
	<string>Chariot</string>
	<key>Cart+SteamEngine</key>
	<string>Locomotive</string>
	<key>Bicycle+Cancer</key>
	<string>LanceArmstrong</string>
	<key>Stone+Wheat</key>
	<string>Flour</string>
	<key>Beast+Hunter</key>
	<string>Blood</string>
	<key>Hunter+Mouse</key>
	<string>Cat</string>
	<key>Bird+Hunter</key>
	<string>Feather</string>
	<key>Fish+Hunter</key>
	<string>Fisherman</string>
	<key>Ghost+Hunter</key>
	<string>Ghostbusters</string>
	<key>Bear+Hunter</key>
	<string>Meat</string>
	<key>Hunter+Livestock</key>
	<string>Wool</string>
	<key>Beetle+Light</key>
	<string>Firefly</string>
	<key>Dragon+Warrior</key>
	<string>Hero</string>
	<key>Ash+Fat</key>
	<string>Soap</string>
	<key>Metal+Moon</key>
	<string>Silver</string>
	<key>City+City</key>
	<string>Country</string>
	<key>City+Sex</key>
	<string>SexInTheCity</string>
	<key>City+Water</key>
	<string>Venice</string>
	<key>Air+Car</key>
	<string>Airplane</string>
	<key>Beetle+Car</key>
	<string>VWBeetle</string>
	<key>Chariot+Sky</key>
	<string>Sun</string>
	<key>Beetle+Flour</key>
	<string>Weevil</string>
	<key>Flour+Water</key>
	<string>Dough</string>
	<key>Blood+Worm</key>
	<string>Leech</string>
	<key>Blood+Man</key>
	<string>Vampire</string>
	<key>Cat+Country</key>
	<string>Egypt</string>
	<key>Feather+Paper</key>
	<string>Book</string>
	<key>Fire+Meat</key>
	<string>BBQ</string>
	<key>Meat+Tool</key>
	<string>Knife</string>
	<key>Wheel+Wool</key>
	<string>SpinningWheel</string>
	<key>SpinningWheel+Wool</key>
	<string>Yarn</string>
	<key>Tool+Wool</key>
	<string>Cloth</string>
	<key>Hero+Lightsaber</key>
	<string>Jedi</string>
	<key>Forest+Hero</key>
	<string>RobinHood</string>
	<key>Fire+Hero</key>
	<string>Firefighter</string>
	<key>Country+Kangaroo</key>
	<string>Australia</string>
	<key>Country+Dragon</key>
	<string>China</string>
	<key>Country+Sauna</key>
	<string>Finland</string>
	<key>Country+VWBeetle</key>
	<string>Germany</string>
	<key>Country+Volcano</key>
	<string>Iceland</string>
	<key>Country+Venice</key>
	<string>Italy</string>
	<key>Country+Totoro</key>
	<string>Japan</string>
	<key>Country+Petroleum</key>
	<string>SaudiArabia</string>
	<key>Country+Fondue</key>
	<string>Switzerland</string>
	<key>Clock+Country</key>
	<string>Switzerland</string>
	<key>Country+Vampire</key>
	<string>Transylvania</string>
	<key>Country+RobinHood</key>
	<string>England</string>
	<key>Country+Country</key>
	<string>Continent</string>
	<key>Airplane+Metal</key>
	<string>Aluminum</string>
	<key>Flower+Sun</key>
	<string>Sunflower</string>
	<key>Dough+Fire</key>
	<string>Bread</string>
	<key>Cheese+Dough</key>
	<string>Pizza</string>
	<key>Beast+Vampire</key>
	<string>Werewolf</string>
	<key>Vampire+Werewolf</key>
	<string>Twilight</string>
	<key>Bird+Vampire</key>
	<string>Bat</string>
	<key>Book+Sex</key>
	<string>KamaSutra</string>
	<key>Book+Book</key>
	<string>Library</string>
	<key>Knife+Knife</key>
	<string>Scissors</string>
	<key>Knife+Wood</key>
	<string>Stake</string>
	<key>Knife+Switzerland</key>
	<string>SwissKnife</string>
	<key>Tool+Yarn</key>
	<string>Sweater</string>
	<key>Cloth+Man</key>
	<string>Clothing</string>
	<key>Cloth+Feather</key>
	<string>Pillow</string>
	<key>Boat+Cloth</key>
	<string>Sailboat</string>
	<key>Cloth+WoodenShip</key>
	<string>SailingShip</string>
	<key>Assassin+Jedi</key>
	<string>Sith</string>
	<key>Jedi+Sith</key>
	<string>Starwars</string>
	<key>Arms+RobinHood</key>
	<string>Bow</string>
	<key>Country+Transylvania</key>
	<string>Romania</string>
	<key>Continent+Continet</key>
	<string>Planet</string>
	<key>Glass+Silver</key>
	<string>Mirror</string>
	<key>Bread+Meat</key>
	<string>Sandwich</string>
	<key>Bread+Fire</key>
	<string>Toast</string>
	<key>Moon+Werewolf</key>
	<string>Wolf</string>
	<key>Bat+Man</key>
	<string>Batman</string>
	<key>Country+KamaSutra</key>
	<string>India</string>
	<key>Library+Man</key>
	<string>Scientist</string>
	<key>Scientist+Sun</key>
	<string>Star</string>
	<key>Man+Wolf</key>
	<string>Dog</string>
	<key>Mold+Scientist</key>
	<string>Penicillin</string>
	<key>Beetle+Cactus</key>
	<string>Cochineal</string>
	<key>Cochineal+Fire</key>
	<string>Carmine</string>
	<key>Carmine+SodaWater</key>
	<string>Soda</string>
	<key>Man+Yoghurt</key>
	<string>Diet</string>
	<key>Glass+Water</key>
	<string>Ice</string>
	<key>Sandwich+Soda</key>
	<string>FastFood</string>
	<key>Soda+Geyser</key>
	<string>Mentos</string>
	<key>FastFood+Man</key>
	<string>Obesity</string>
	<key>Beetle+Beetle</key>
	<string>TheBeatles</string>
	<key>Country+Soda</key>
	<string>USA</string>
	<key>Country+FastFood</key>
	<string>USA</string>
</dict>
</plist>
