<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Basis</key>
	<array>
		<string>Energy</string>
	</array>
	<key>Gas</key>
	<array>
		<string>Steam</string>
		<string>Vapor</string>
	</array>
	<key>Geography</key>
	<array>
		<string>Lake</string>
		<string>Marsh</string>
	</array>
	<key>Liquid</key>
	<array>
		<string>Lava</string>
	</array>
	<key>Mineral</key>
	<array>
		<string>Dust</string>
	</array>
</dict>
</plist>
