<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dust</key>
	<string>Earth</string>
	<key>Energy</key>
	<string>Physics</string>
	<key>Vapor</key>
	<string>Water</string>
	<key>Lava</key>
	<string>Fire</string>
	<key>Marsh</key>
	<string>Nature</string>
	<key>Steam</key>
	<string>Water</string>
	<key>Lake</key>
	<string>Water</string>
	<key>Stone</key>
	<string>Earth</string>
	<key>Wind</key>
	<string>Nature</string>
	<key>Storm</key>
	<string>Nature</string>
	<key>Geyser</key>
	<string>Water</string>
	<key>Pressure</key>
	<string>Physics</string>
	<key>Mud</key>
	<string>Earth</string>
	<key>Sand</key>
	<string>Earth</string>
	<key>Typhoon</key>
	<string>Nature</string>
	<key>Glass</key>
	<string>Earth</string>
	<key>Gunpowder</key>
	<string>Weapons</string>
	<key>Lamp</key>
	<string>Manmade</string>
	<key>Metal</key>
	<string>Earth</string>
	<key>Cloud</key>
	<string>Nature</string>
	<key>Sky</key>
	<string>Nature</string>
	<key>Life</key>
	<string>Life</string>
	<key>MetalFairy</key>
	<string>Earth</string>
	<key>Mite</key>
	<string>Life</string>
	<key>Seed</key>
	<string>Plants</string>
	<key>Algae</key>
	<string>Life</string>
	<key>Bacteria</key>
	<string>Life</string>
	<key>Egg</key>
	<string>Life</string>
	<key>Chicken</key>
	<string>Life</string>
	<key>FireFairy</key>
	<string>Fire</string>
	<key>LavaFairy</key>
	<string>Fire</string>
	<key>Electricity</key>
	<string>Physics</string>
	<key>LavaLamp</key>
	<string>Manmade</string>
	<key>Volcano</key>
	<string>Fire</string>
	<key>Moss</key>
	<string>Plants</string>
	<key>Sulfur</key>
	<string>Earth</string>
	<key>Clay</key>
	<string>Earth</string>
	<key>Fern</key>
	<string>Plants</string>
	<key>Boilder</key>
	<string>Manmade</string>
	<key>Sandstorm</key>
	<string>Nature</string>
	<key>Lightening</key>
	<string>Physics</string>
	<key>LighteningRod</key>
	<string>Physics</string>
	<key>Silicon</key>
	<string>Earth</string>
	<key>Turtle</key>
	<string>Life</string>
	<key>Beach</key>
	<string>Nature</string>
	<key>Desert</key>
	<string>Nature</string>
	<key>Hourglass</key>
	<string>Manmade</string>
	<key>Time</key>
	<string>Physics</string>
	<key>Rust</key>
	<string>Earth</string>
	<key>Fairy</key>
	<string>Life</string>
	<key>Tree</key>
	<string>Plant</string>
	<key>Flower</key>
	<string>Plant</string>
	<key>Iodine</key>
	<string>Earth</string>
	<key>Mushroom</key>
	<string>Plants</string>
	<key>Lichen</key>
	<string>Plants</string>
	<key>1UP</key>
	<string>Misc</string>
	<key>Flu</key>
	<string>Misc</string>
	<key>PetriDish</key>
	<string>Manmade</string>
	<key>Plankton</key>
	<string>Life</string>
	<key>Fish</key>
	<string>Life</string>
	<key>Yoshi</key>
	<string>Misc</string>
	<key>Bird</key>
	<string>Life</string>
	<key>Dinosaur</key>
	<string>Life</string>
	<key>Omelette</key>
	<string>Misc</string>
	<key>AvianFlu</key>
	<string>Misc</string>
	<key>Hydrogen</key>
	<string>Nature</string>
	<key>Lightbulb</key>
	<string>Manmade</string>
	<key>Light</key>
	<string>Physics</string>
	<key>Oxygen</key>
	<string>Nature</string>
	<key>Ozone</key>
	<string>Nature</string>
	<key>ElectricEel</key>
	<string>Life</string>
	<key>Grass</key>
	<string>Plant</string>
	<key>Brick</key>
	<string>Manmade</string>
	<key>Cactus</key>
	<string>Plant</string>
	<key>Peat</key>
	<string>Plant</string>
	<key>WalkingTree</key>
	<string>Plant</string>
	<key>ChristmasTree</key>
	<string>Misc</string>
	<key>Coal</key>
	<string>Earth</string>
	<key>Grove</key>
	<string>Nature</string>
	<key>Mold</key>
	<string>Life</string>
	<key>Worm</key>
	<string>Life</string>
	<key>Shells</key>
	<string>Life</string>
	<key>Sushi</key>
	<string>Misc</string>
	<key>Caviar</key>
	<string>Misc</string>
	<key>Phoenix</key>
	<string>Misc</string>
	<key>Thunderbird</key>
	<string>Misc</string>
	<key>FlyingDino</key>
	<string>Life</string>
	<key>Fossil</key>
	<string>Earth</string>
	<key>AquaDino</key>
	<string>Life</string>
	<key>Dragon</key>
	<string>Life</string>
	<key>Oxyhydrogen</key>
	<string>Nature</string>
	<key>Reed</key>
	<string>Plant</string>
	<key>Tobacco</key>
	<string>Plant</string>
	<key>Dam</key>
	<string>Manmade</string>
	<key>SteamEngine</key>
	<string>Manmade</string>
	<key>UncutDiamond</key>
	<string>Earth</string>
	<key>Forest</key>
	<string>Nature</string>
	<key>Snail</key>
	<string>Life</string>
	<key>Snake</key>
	<string>Life</string>
	<key>Beetle</key>
	<string>Life</string>
	<key>Butterfly</key>
	<string>Life</string>
	<key>Lizard</key>
	<string>Life</string>
	<key>Limestone</key>
	<string>Earth</string>
	<key>Pearl</key>
	<string>Nature</string>
	<key>Kerogen</key>
	<string>Earth</string>
	<key>Smoke</key>
	<string>Fire</string>
	<key>Ash</key>
	<string>Fire</string>
	<key>Scorpion</key>
	<string>Life</string>
	<key>Beast</key>
	<string>Life</string>
	<key>Frog</key>
	<string>Life</string>
	<key>Salamander</key>
	<string>Life</string>
	<key>Cement</key>
	<string>Manmade</string>
	<key>Lime</key>
	<string>Earth</string>
	<key>Bitumen</key>
	<string>Earth</string>
	<key>Ghost</key>
	<string>Fictious</string>
	<key>AshTray</key>
	<string>Manmade</string>
	<key>Wjale</key>
	<string>Life</string>
	<key>Kangaroo</key>
	<string>Life</string>
	<key>Bear</key>
	<string>Life</string>
	<key>Beaver</key>
	<string>Life</string>
	<key>Man</key>
	<string>Life</string>
	<key>Panda</key>
	<string>Life</string>
	<key>Sugar</key>
	<string>Earth</string>
	<key>Petroleum</key>
	<string>Earth</string>
	<key>Totora</key>
	<string>Fictitious</string>
	<key>Ecctoplasm</key>
	<string>Fictitious</string>
	<key>Genie</key>
	<string>Fictitious</string>
	<key>Sex</key>
	<string>Life</string>
	<key>Sickness</key>
	<string>Life</string>
	<key>Tool</key>
	<string>Manmade</string>
	<key>CO2</key>
	<string>Nature</string>
	<key>Ceramics</key>
	<string>Earth</string>
	<key>Corpse</key>
	<string>Life</string>
	<key>Farmer</key>
	<string>Life</string>
	<key>Hut</key>
	<string>Manmade</string>
	<key>Idea</key>
	<string>Misc</string>
	<key>Livestock</key>
	<string>Life</string>
	<key>Manure</key>
	<string>Misc</string>
	<key>Mario</key>
	<string>Misc</string>
	<key>Milk</key>
	<string>Misc</string>
	<key>OldMan</key>
	<string>Life</string>
	<key>Saltpeter</key>
	<string>Earth</string>
	<key>Santa</key>
	<string>Misc</string>
	<key>Scarab</key>
	<string>Life</string>
	<key>Brickhouse</key>
	<string>Manmade</string>
	<key>Caramel</key>
	<string>Misc</string>
	<key>Gasoline</key>
	<string>Earth</string>
	<key>Hospital</key>
	<string>Manmade</string>
	<key>Lawnmower</key>
	<string>Manmade</string>
	<key>Paper</key>
	<string>Misc</string>
	<key>Poison</key>
	<string>Misc</string>
	<key>Wood</key>
	<string>Plant</string>
	<key>Wheel</key>
	<string>Manmade</string>
	<key>Clock</key>
	<string>Manmade</string>
	<key>Arable</key>
	<string>Earth</string>
	<key>Arms</key>
	<string>Weapons</string>
	<key>Diamond</key>
	<string>Earth</string>
	<key>SodaWater</key>
	<string>Manmade</string>
	<key>Vulture</key>
	<string>Life</string>
	<key>Zombie</key>
	<string>Ficitious</string>
	<key>Coffin</key>
	<string>Misc</string>
	<key>Frankenstein</key>
	<string>Fictitious</string>
	<key>Grave</key>
	<string>Misc</string>
	<key>Cemetery</key>
	<string>Misc</string>
	<key>Mummy</key>
	<string>Fictitious</string>
	<key>Undead</key>
	<string>Fictitious</string>
	<key>Fruit</key>
	<string>Plant</string>
	<key>HenCoop</key>
	<string>Manmade</string>
	<key>Sauna</key>
	<string>Manmade</string>
	<key>Philosopher</key>
	<string>Misc</string>
	<key>Pig</key>
	<string>Life</string>
	<key>Yoghurt</key>
	<string>Misc</string>
	<key>SouredMilk</key>
	<string>Misc</string>
	<key>Cheese</key>
	<string>Misc</string>
	<key>Museum</key>
	<string>Manmade</string>
	<key>Skyscraper</key>
	<string>Manmade</string>
	<key>Combustion</key>
	<string>Physics</string>
	<key>Explosion</key>
	<string>Physics</string>
	<key>Tractor</key>
	<string>Manmade</string>
	<key>Cigarettes</key>
	<string>Misc</string>
	<key>Fugu</key>
	<string>Life</string>
	<key>ToxicWeapons</key>
	<string>Weapons</string>
	<key>Assassin</key>
	<string>Weapons</string>
	<key>Boat</key>
	<string>Manmade</string>
	<key>Cart</key>
	<string>Manmade</string>
	<key>Grape</key>
	<string>Plant</string>
	<key>Pinocchio</key>
	<string>Fictitious</string>
	<key>Woodenship</key>
	<string>Manmade</string>
	<key>Steamer</key>
	<string>Manmade</string>
	<key>Bicycle</key>
	<string>Manmade</string>
	<key>Wheat</key>
	<string>Life</string>
	<key>Firearms</key>
	<string>Weapons</string>
	<key>Hunter</key>
	<string>Weapons</string>
	<key>LightSaber</key>
	<string>Weapons</string>
	<key>Sniper</key>
	<string>Weapons</string>
	<key>Soldier</key>
	<string>Weapons</string>
	<key>Warrior</key>
	<string>Weapons</string>
	<key>FabergeEgg</key>
	<string>Misc</string>
	<key>Berry</key>
	<string>Plant</string>
	<key>Juice</key>
	<string>Plant</string>
	<key>Fat</key>
	<string>Life</string>
	<key>Bacon</key>
	<string>Misc</string>
	<key>SwineFlu</key>
	<string>Life</string>
	<key>Fondue</key>
	<string>Misc</string>
	<key>Moon</key>
	<string>Nature</string>
	<key>Mouse</key>
	<string>Life</string>
	<key>Zoo</key>
	<string>Manmade</string>
	<key>City</key>
	<string>Manmade</string>
	<key>Lighthouse</key>
	<string>Manmade</string>
	<key>Motorboat</key>
	<string>Manmade</string>
	<key>Motorcycle</key>
	<string>Manmade</string>
	<key>Car</key>
	<string>Manmade</string>
	<key>Cancer</key>
	<string>Life</string>
	<key>Prisoner</key>
	<string>Misc</string>
	<key>Sailor</key>
	<string>Misc</string>
	<key>Team</key>
	<string>Misc</string>
	<key>Chariot</key>
	<string>Manmade</string>
	<key>Locomotive</key>
	<string>Manmade</string>
	<key>LanceArmstrong</key>
	<string>Misc</string>
	<key>Flour</key>
	<string>Life</string>
	<key>Blood</key>
	<string>Life</string>
	<key>Cat</key>
	<string>Life</string>
	<key>Feather</key>
	<string>Life</string>
	<key>Fisherman</key>
	<string>Misc</string>
	<key>Ghostbusters</key>
	<string>Misc</string>
	<key>Meat</key>
	<string>Life</string>
	<key>Wool</key>
	<string>Life</string>
	<key>Firefly</key>
	<string>Life</string>
	<key>Hero</key>
	<string>Misc</string>
	<key>Soap</key>
	<string>Manmade</string>
	<key>Silver</key>
	<string>Earth</string>
	<key>Country</key>
	<string>Manmade</string>
	<key>SexInTheCity</key>
	<string>Misc</string>
	<key>Venice</key>
	<string>Manmade</string>
	<key>Airplane</key>
	<string>Manmade</string>
	<key>Book+Sex</key>
	<string>KamaSutra</string>
	<key>VWBeetle</key>
	<string>Manmade</string>
	<key>Sun</key>
	<string>Nature</string>
	<key>Weevil</key>
	<string>Misc</string>
	<key>Dough</key>
	<string>Manmade</string>
	<key>Leech</key>
	<string>Life</string>
	<key>Vampire</key>
	<string>Fictitious</string>
	<key>Egypt</key>
	<string>Manmade</string>
	<key>Book</key>
	<string>Manmade</string>
	<key>BBQ</key>
	<string>Manmade</string>
	<key>Knife</key>
	<string>Weapons</string>
	<key>SpinningWheel</key>
	<string>Manmade</string>
	<key>Yarn</key>
	<string>Manmade</string>
	<key>Cloth</key>
	<string>Manmade</string>
	<key>Jedi</key>
	<string>Weapons</string>
	<key>RobinHood</key>
	<string>Misc</string>
	<key>Firefighter</key>
	<string>Misc</string>
	<key>Australia</key>
	<string>Manmade</string>
	<key>China</key>
	<string>Manmade</string>
	<key>Finland</key>
	<string>Manmade</string>
	<key>Germany</key>
	<string>Manmade</string>
	<key>Iceland</key>
	<string>Manmade</string>
	<key>Italy</key>
	<string>Manmade</string>
	<key>Japan</key>
	<string>Manmade</string>
	<key>SaudiArabia</key>
	<string>Manmade</string>
	<key>Switzerland</key>
	<string>Manmade</string>
	<key>Transylvania</key>
	<string>Manm</string>
	<key>England</key>
	<string>Manmade</string>
	<key>Continent</key>
	<string>Manmade</string>
	<key>Aluminum</key>
	<string>Earth</string>
	<key>Sunflower</key>
	<string>Plant</string>
	<key>Bread</key>
	<string>Manmade</string>
	<key>Pizza</key>
	<string>Mamade</string>
	<key>Werewolf</key>
	<string>Fictitious</string>
	<key>Twilight</key>
	<string>Fictitious</string>
	<key>Bat</key>
	<string>Life</string>
	<key>KamaSutra</key>
	<string>Manmade</string>
	<key>Library</key>
	<string>Manmade</string>
	<key>Scissors</key>
	<string>Manmade</string>
	<key>Stake</key>
	<string>Weapons</string>
	<key>SwissKnife</key>
	<string>Weapons</string>
	<key>Sweater</key>
	<string>Manmade</string>
	<key>Cothing</key>
	<string>Manmade</string>
	<key>Pillow</key>
	<string>Manmade</string>
	<key>Sailboat</key>
	<string>Manmade</string>
	<key>SailingShip</key>
	<string>Manmade</string>
	<key>Sith</key>
	<string>Weapons</string>
	<key>StarWars</key>
	<string>Fictitous</string>
	<key>Bow</key>
	<string>Weapons</string>
	<key>Romania</key>
	<string>Manmade</string>
	<key>Planet</key>
	<string>Nature</string>
	<key>Mirror</key>
	<string>Manmade</string>
	<key>Sandwich</key>
	<string>Manmade</string>
	<key>Toast</key>
	<string>Manmade</string>
	<key>Wolf</key>
	<string>Life</string>
	<key>Batman</key>
	<string>Fictitious</string>
	<key>India</key>
	<string>Manmade</string>
	<key>Scientist</key>
	<string>Misc</string>
	<key>Star</key>
	<string>Nature</string>
	<key>Dog</key>
	<string>Life</string>
	<key>Penicillin</key>
	<string>Manmade</string>
	<key>Cochineal</key>
	<string>Misc</string>
	<key>Carmine</key>
	<string>Misc</string>
	<key>Soda</key>
	<string>Manmade</string>
	<key>Diet</key>
	<string>Misc</string>
	<key>Ice</key>
	<string>Nature</string>
	<key>FastFood</key>
	<string>Manmade</string>
	<key>Mentos</key>
	<string>Manmade</string>
	<key>Obesity</key>
	<string>Life</string>
	<key>TheBeatles</key>
	<string>Misc</string>
	<key>USA</key>
	<string>Manmade</string>
</dict>
</plist>
